# Strings

In [1]:
a='Ritik'

In [2]:
print(a)

Ritik

In [3]:
a="""My name is
Ritik
"""

In [4]:
print(a)

My name is
Ritik

In [5]:
# get ascii value from char

In [6]:
ord('a')

97

In [ ]:
# get char value from ascii

In [7]:
chr(97)

'a'

In [10]:
#pattern string
a=1
b=2
c=3

In [11]:
print('%d-%d-%d'%(a,b,c))

1-2-3

In [12]:
print("{}-{}-{}".format(a,b,c))

1-2-3

In [13]:
print("{firstname}_{lastname}".format(firstname='ritik',lastname='kumar'))

ritik_kumar

In [14]:
firstname='ritik'
lastname='kumar'

In [16]:
print(f"{firstname}_{lastname}")

ritik_kumar

In [17]:
#remove white spaces from front
a = '              Ritik'

In [19]:
print(a.strip())

Ritik

In [20]:
a = input()

 yes

In [23]:
if(a=='yes'):
    print('true')
else:
    print('false')

false

In [24]:
if(a.strip()=='yes'):
    print('true')
else:
    print('false')

true

In [25]:
# split()

In [26]:
a = input()

1 2 3 4 5 6 7 8

In [27]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7', '8']

In [28]:
a.split('_')

['1 2 3 4 5 6 7 8']

In [29]:
# REPLACE()

In [31]:
a = "ritik"

In [32]:
a.replace('i','k')

'rktkk'

In [33]:
# count()

In [34]:
a='aaaaannccncn'

In [35]:
a.count('a')

5

In [36]:
a.count('aa')

2

# Lists

In [37]:
a=[1,2,3,4]

In [38]:
print(a)

[1, 2, 3, 4]

In [39]:
a[1]

2

In [43]:
a=['jatin',1,3,print]

In [41]:
a

['jatin', 1, 3]

In [44]:
a[3]('Ritik')

Ritik

In [47]:
len(a)

4

In [48]:
a + a

['jatin', 1, 3, <function print>, 'jatin', 1, 3, <function print>]

In [49]:
a * 4

['jatin',
 1,
 3,
 <function print>,
 'jatin',
 1,
 3,
 <function print>,
 'jatin',
 1,
 3,
 <function print>,
 'jatin',
 1,
 3,
 <function print>]

In [50]:
1 in a

True

In [51]:
2 in a

False

In [53]:
a=[1,2,3,4]

In [56]:
for i in a:
    print(i)

1
2
3
4

In [57]:
# back indexing
a[-1]

4

In [58]:
# slicing
# here lower index in included and upper index in exclusive
a[1:4]

[2, 3, 4]

In [61]:
#jump parameter
a[1:4:2]

[2, 4]

In [62]:
# reversing the list (most elegant way)

In [63]:
a[::-1]

[4, 3, 2, 1]

In [64]:
# checking list palindrome

In [65]:
a = 'nitin'

In [66]:
a == a[::-1]

True

## updating lists

In [67]:
a = [1,2,3,4,5]

In [68]:
a.insert(1,'jatin')

In [69]:
print(a)

[1, 'jatin', 2, 3, 4, 5]

In [70]:
a.append('katyal')

In [71]:
a

[1, 'jatin', 2, 3, 4, 5, 'katyal']

## deleting from lists

In [72]:
a.pop()

'katyal'

In [73]:
#by providing index
a.pop(2)

2

In [74]:
a.remove('jatin')

In [75]:
a

[1, 3, 4, 5]

In [76]:
del a[1]

In [77]:
a

[1, 4, 5]

In [78]:
del a

In [79]:
a

NameError: name 'a' is not defined

## sorting an reversing

In [80]:
a=[2,4,1,3,6,0]

In [81]:
sorted(a)

[0, 1, 2, 3, 4, 6]

In [82]:
a.sort()

In [83]:
a

[0, 1, 2, 3, 4, 6]

In [85]:
for i in reversed(a):
    print(i)

6
4
3
2
1
0

# Tuples
used to hold together multiple objects,
immutable

In [34]:
a = (1,2,3,4)

In [35]:
a
type(a)

tuple

In [88]:
a= 5

In [89]:
b=3

In [96]:
temp=a
a=b
b=temp
print(a,b)

3 5

In [97]:
#comma separated tuple
a = 1,2

In [98]:
type(a)

tuple

In [102]:
#unpacking tuple
c,d = a
print(c,d)

1 2

In [95]:
a = a ^ b
b = a ^ b
a = a ^ b
print(a,b)

5 3

In [106]:
# swapping using tuples
a = 5
b = 8
b,a=a,b
print(a,b)

8 5

## list to tuple and tuple to list

In [116]:
a = {1,2,3}
a = list(a)
print(a)
type(a)

[1, 2, 3]

list

In [111]:
a = tuple(a)
a

(1, 2, 3)

In [114]:
type(a)

tuple

# Returning multipe values from function

In [118]:
def addSub(a,b):
    return a+b,a-b

In [119]:
a,b = addSub(3,2)

In [120]:
print(a,b)

5 1

# Dictionary

In [121]:
a = [1,2,3,4]

In [122]:
a = {
    "name":"Ritik",
    "marks":24,
    "subject":["english","maths"],
    "friends":{
        "pulkit":"android"
    }
}

In [124]:
a['friends']

{'pulkit': 'android'}

In [125]:
#iterable gives value of keys
for i in a:
    print(i)

name
marks
subject
friends

# Some Important dict methods
get()

items()

keys()

values()

clear()

In [126]:
for item in a.items():
    print(item)

('name', 'Ritik')
('marks', 24)
('subject', ['english', 'maths'])
('friends', {'pulkit': 'android'})

In [128]:
for key,value in a.items():
    print(key,"=>",value)

name => Ritik
marks => 24
subject => ['english', 'maths']
friends => {'pulkit': 'android'}

In [129]:
for key in a.keys():
    print(key)

name
marks
subject
friends

In [131]:
for value in a.values():
    print(value)

Ritik
24
['english', 'maths']
{'pulkit': 'android'}

In [132]:
a['name']

'Ritik'

In [135]:
#more safe than above
a.get("name1")

In [134]:
a.get("name")

'Ritik'

In [136]:
a.clear()

In [137]:
a

{}

## challenge

In [151]:
students = []

In [154]:
n = int(input());

2

In [155]:
for _ in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll No":roll,
        "name":name,
        "Branch":branch
    })

1
Ritik
CSE
2
Aditya
Electrical

In [156]:
students

[{'roll No': 1, 'name': 'Ritik', 'Branch': 'CSE'},
 {'roll No': 2, 'name': 'Aditya', 'Branch': 'Electrical'}]

# sets
No way to index a particular.

It only tells existence of some values

In [2]:
#Unlike dictionary there are no key value pairs in SETS
a={1,2,3,4}
type(a)

set

In [3]:
b={3,4,5,6}

In [4]:
a.intersection(b)

{3, 4}

In [5]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [6]:
a-b

{1, 2}

In [7]:
b-a

{5, 6}

In [8]:
for i in a:
    print(i)

1
2
3
4

In [9]:
a = {1,2,3,4,4,5,5}

In [10]:
a

{1, 2, 3, 4, 5}

In [12]:
len(a)

5

In [22]:
#removing duplicates using sets
a =[1,1,2,2,1,2,1,2,1]
a=set(a)
list(a)

[1, 2]

# Comprehension method for creating data structures

In [23]:
a = []
for i in range(10):
    a.append(i*i)

In [24]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
#lets squeeze the above written code
# list comprehension
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
[i*i for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

In [27]:
#dictionary comprehension

In [29]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
{i:i*i for i in range(10)if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
#sets comprehension

In [31]:
{i*i for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [32]:
# NOT tuple comprehesnion

In [36]:
( i*i for i in range(10))